<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment confirmation</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>

<body>
<header class="header" style="position: fixed; top: 0; width: 100%; height: 80px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 mt-2">
                <a th:href="@{/v1/vouchers/anonymous/index}">Home</a>
            </div>

            <div class="col-md-10 mt-2">
                <a sec:authorize="hasAuthority('ROLE_USER')"
                   th:href="@{/v1/vouchers/anonymous}">All tours</a>
                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')"
                   th:href="@{/v1/vouchers/auth-manager}">All tours</a>
            </div>

            <div class="col-md-1 mt-2" align="center">
                <a th:href="@{/v1/users/auth-user/id/{userId}(userId=${authUser.id})}">
                    <span><img src="/images/user-icon.png" alt="User-icon" width="20" height="20"/></span>
                    <span class="user" th:text="${authUser.username}"></span>
                </a><br>
                <span class="user"><a href="/logout">Sign out</a></span>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container col-10 mt-4">
        <div class="row g-3" style="height: 100px;"></div>

        <h1 align="center">You confirm payment for the tour</h1>

        <input type="hidden" name="previousPage" th:value="${previousPage}">

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Title: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.title}"></span>
            </div>

        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Description: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.description}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Tour type: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.tourType}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Transfer type: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.transferType}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Hotel type: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.hotelType}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Arrival date: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.arrivalDate}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Eviction date: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.evictionDate}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong>Price: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.price}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="alert alert-danger col-md-6" role="alert" th:if="${errors}" th:each="error: ${errors}">
                <small th:text="${error}"></small>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <a th:href="@{/v1/vouchers/auth-user/{voucherId}/pay
               (voucherId=${voucher.id}, previousPage=${previousPage})}"
                   class="btn btn-success btn-lg"> Confirm</a>
            </div>
            <div class="col-md-2">
                <a th:href="@{${previousPage}}" class="btn btn-success btn-lg">Cancel</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>