<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Payment confirmation</title>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/language-switch.js" type="text/javascript"></script>
</head>

<body>
<header th:replace="~{fragments/header.html :: header}"></header>

<main sec:authorize="isAuthenticated()">
    <div class="container col-10 mt-4">
        <div class="row g-3" style="height: 100px;"></div>

        <h1 align="center" th:text="#{pay.confirmation.text}">You confirm payment for the voucher</h1>

        <input name="previousPage" th:value="${previousPage}" type="hidden">

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.title}">Title: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.title}"></span>
            </div>

        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.description}">Description: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.description}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.tour-type}">Tour type: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.tourType}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.transfer-type}">Transfer type: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.transferType}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.hotel-type}">Hotel type: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.hotelType}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.arrival-date}">Arrival date: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.arrivalDate}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.eviction-date}">Eviction date: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.evictionDate}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <strong th:text="#{pay.confirmation.price}">Price: </strong>
            </div>
            <div class="col-md-8">
                <span th:text="${voucher.price}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="alert alert-danger col-md-6" role="alert" th:each="error: ${errors}" th:if="${errors}">
                <small th:text="${error}"></small>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <a class="btn btn-success btn-lg"
                   th:href="@{/v1/vouchers/auth-user/{voucherId}/pay
               (voucherId=${voucher.id}, previousPage=${previousPage})}" th:text="#{pay.confirmation.button-confirm}"> Confirm</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success btn-lg" th:href="@{${previousPage}}"
                   th:text="#{pay.confirmation.button-cancel}">
                    Cancel</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>