<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header class="header" style="position: fixed; top: 0; width: 100%; height: 80px;" th:fragment="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 mt-2">
                <a th:href="@{/v1/vouchers/anonymous/index}">
                    <img alt="home-icon" height="60" src="/images/favicon.png" width="75"/></a>
            </div>

            <div class="col-md-1 mt-2">
                <a sec:authorize="isAnonymous() or hasAuthority('ROLE_USER')"
                   th:href="@{/v1/vouchers/anonymous}" th:text="#{header.all.vouchers}">All vouchers</a>
                <a sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')"
                   th:href="@{/v1/vouchers/auth-manager}" th:text="#{header.all.vouchers}">All vouchers</a>
                <br>
                <a sec:authorize="hasAuthority('ROLE_USER')"
                   th:href="@{/v1/vouchers/auth-user}" th:text="#{header.my.vouchers}">My vouchers</a>
                <a sec:authorize="hasAuthority('ROLE_ADMIN')"
                   th:href="@{/v1/users/auth-admin}" th:text="#{header.all.users}">All users</a>
            </div>

            <div class="col-md-1 mt-2">
                <a target="_blank" th:href="@{/swagger-ui/index.html}">Swagger</a>
                <br>
                <select id="locales">
                    <option th:text="#{header.lang.en}" value="en"></option>
                    <option th:selected="${#strings.equals(locale, 'ua')}" th:text="#{header.lang.ua}"
                            value="ua"></option>
                </select>
            </div>

            <div align="center" class="col-md-6 mt-2 alert alert-success" role="alert" th:if="${message}">
                <strong th:text="${message}"></strong></div>
            <div class="col-md-6 mt-2" th:unless="${message}"></div>
            <div class="col-md-2 mt-2"></div>

            <div class="col-md-1 mt-2" sec:authorize="isAnonymous()">
                <span class="user"><a th:href="@{/v1/auth/login}" th:text="#{header.sign.in}">Sign in</a></span>
                <br>
                <span class="user"><a th:href="@{/v1/users/anonymous/register}"
                                      th:text="#{header.register}">Register</a></span>
            </div>

            <div align="center" class="col-md-1 mt-2" sec:authorize="isAuthenticated()">
                <a th:href="@{/v1/users/auth-user/id/{userId}(userId=${authUser.id})}"
                   th:if="${authUser} != null">
                    <span><img alt="User-icon" height="20" src="/images/user-icon.png" width="20"/></span>
                    <span class="user" th:text="${authUser.username}"></span>
                </a>
                <br>
                <span class="user"><a href="/logout" th:text="#{header.sign.out}">Sign out</a></span>
            </div>
        </div>
    </div>
</header>
</body>
</html>