<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User action button</title>
</head>
<body>
<div th:fragment="action-button">
    <button aria-expanded="false"
            class="form-control" data-bs-toggle="dropdown" th:text="#{user.action.button.choose}"
            th:unless="${#strings.equals(user.id, authUser.id)}" type="button">
        Choose action
    </button>

    <ul class="dropdown-menu">
        <li th:if="${user.role} != 'USER'">
            <a class="dropdown-item"
               th:href="@{/v1/users/auth-admin/role/{userId} (userId=${user.id}, role = 'USER',
               requestURI=${requestURI}, queryString=${queryString})}" th:text="#{user.action.button.set.user}">
                Set role 'USER'</a>
        </li>
        <li th:if="${user.role} != 'MANAGER'">
            <a class="dropdown-item"
               th:href="@{/v1/users/auth-admin/role/{userId} (userId=${user.id}, role = 'MANAGER',
               requestURI=${requestURI}, queryString=${queryString})}" th:text="#{user.action.button.set.manager}">
                Set role 'MANAGER'</a>
        </li>
        <li th:if="${user.role} != 'ADMIN'">
            <a class="dropdown-item"
               th:href="@{/v1/users/auth-admin/role/{userId} (userId=${user.id}, role = 'ADMIN',
               requestURI=${requestURI}, queryString=${queryString})}" th:text="#{user.action.button.set.admin}">
                Set role 'ADMIN'</a>
        </li>
        <li th:if="${user.accountStatus}">
            <a class="dropdown-item"
               th:href="@{/v1/users/auth-admin/account-status/{userId}
                   (userId=${user.id}, accountStatus=false, requestURI=${requestURI}, queryString=${queryString})}"
               th:text="#{user.action.button.locked}">
                Locked user</a>
        </li>
        <li th:unless="${user.accountStatus}">
            <a class="dropdown-item"
               th:href="@{/v1/users/auth-admin/account-status/{userId}
                   (userId=${user.id}, accountStatus=true, requestURI=${requestURI}, queryString=${queryString})}"
               th:text="#{user.action.button.unlocked}">
                Unlocked user</a>
        </li>
        <li th:if="${user.vouchers.size} != 0">
            <a class="dropdown-item"
               th:href="@{/v1/vouchers/auth-manager/user/{userId}
                   (userId=${user.id}, requestURI=${requestURI}, queryString=${queryString})}"
               th:text="#{user.action.button.vouchers}">
                User's vouchers</a>
        </li>
    </ul>
</div>
</body>
</html>