<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User dashboard</title>
</head>

<body>
<div th:fragment="user-dashboard">
    <h2 align="center" class="table-title" th:text="#{user.dashboard.title}">Users</h2>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-1" scope="col" th:text="#{user.dashboard.username}">Username</th>
            <th class="col-1" scope="col" th:text="#{user.dashboard.phone}">Phone number</th>
            <th class="col-1" scope="col" th:text="#{user.dashboard.email}">Email</th>
            <th class="col-1" scope="col" th:text="#{user.dashboard.balance}">Balance</th>
            <th class="col-1" scope="col" th:text="#{user.dashboard.isLocked}">Is locked</th>
            <th class="col-1" scope="col" th:text="#{user.dashboard.role}">Role</th>
            <th class="col-1" scope="col" th:text="#{user.dashboard.action}">Action</th>
        </tr>
        </thead>

        <div class="form-group mb-2" th:each="user : ${users}">
            <tbody>
            <td>
                <div th:text="${user.username}"></div>
            </td>
            <td>
                <div th:text="${user.phoneNumber}"></div>
            </td>
            <td>
                <div th:text="${user.email}"></div>
            </td>
            <td>
                <div th:text="${user.balance}"></div>
            </td>
            <td>
                <div th:text="#{user.dashboard.locked}" th:unless="${user.accountStatus}">Locked</div>
            </td>
            <td>
                <div th:text="${user.role}"></div>
            </td>
            <td>
                <div th:replace="~{fragments/user-action-button.html :: action-button}"></div>
            </td>
            </tbody>
        </div>
    </table>
</div>
</body>
</html>