<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User search panel</title>
</head>
<body>
<div th:fragment="search-panel" >
    <div class="row">
        <div class="btn-group col-md-2">
            <button class="form-control" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" th:text="#{user.search.panel.button.role}">
                Search by role
            </button>
            <ul class="dropdown-menu">
                <li th:each="role : ${roles}">
                    <a class="dropdown-item"
                       th:href="@{/v1/users/auth-admin/by-role/{role}(role=${role})}"
                       th:text="${role}"></a>
                </li>
            </ul>
        </div>

        <div class="btn-group col-md-2">
            <button class="form-control" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" th:text="#{user.search.panel.button.locked}">
                Search by locked status
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       th:href="@{/v1/users/auth-admin/by-lockedStatus/{isUnlocked}(isUnlocked=${false})}"
                       th:text="#{user.search.panel.locked}">
                        Locked
                    </a>
                </li>
                <li>
                    <a class="dropdown-item"
                       th:href="@{/v1/users/auth-admin/by-lockedStatus/{isUnlocked}(isUnlocked=${true})}"
                       th:text="#{user.search.panel.unlocked}">
                        Unlocked
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4">
            <form th:action="@{/v1/users/auth-admin/by-username}" method="get" class="row g-3">
                <label for="username"><strong th:text="#{user.search.panel.by-username}">Search by username</strong></label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="username" name="username"
                           th:attr="placeholder=#{user.search.panel.placeholder-user}">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-sm" th:text="#{user.search.panel.by-username}">
                        Search by username</button>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <form th:action="@{/v1/users/auth-admin/by-phoneNumber}" method="get" class="row g-3">
                <label for="phoneNumber"><strong th:text="#{user.search.panel.by-phone}">
                    Search by phone number</strong></label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                           th:attr="placeholder=#{user.search.panel.placeholder-phone}">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success btn-sm" th:text="#{user.search.panel.by-phone}">
                        Search by phone number</button>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <form th:action="@{/v1/users/auth-admin/by-email}" method="get" class="row g-3">
                <label for="email"><strong th:text="#{user.search.panel.by-email}">Search by email</strong></label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="email" name="email"
                           th:attr="placeholder=#{user.search.panel.placeholder-email}">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-sm" th:text="#{user.search.panel.by-email}">
                        Search by email</button>
                </div>
            </form>
        </div>

        <div class="alert alert-danger form-group col-md-3" role="alert" th:if="${errors}"
             th:each="error: ${errors}">
            <small th:text="${error}"></small>
        </div>
    </div>
    <br>
</div>
</body>
</html>