<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Voucher dashboard</title>
</head>
<body>
<div th:fragment="voucher-dashboard(myLinks)">


    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-2">Title</th>
            <th scope="col" class="col-1">Tour type</th>
            <th scope="col" class="col-1">Transfer type</th>
            <th scope="col" class="col-1">Hotel type</th>
            <th scope="col" class="col-1">Arrival date</th>
            <th scope="col" class="col-1">Eviction date</th>
            <th scope="col" class="col-1">Price</th>
            <th scope="col" class="col-1">Is hot</th>
            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                <th scope="col" class="col-1">Status</th>
                <th scope="col" class="col-1">User</th>
                <th scope="col" class="col-1">Action</th>
            </div>
            <div sec:authorize="hasAuthority('ROLE_USER')">
                <div th:if="${myLinks}">
                    <th scope="col" class="col-1">Status</th>
                    <th scope="col" class="col-1">Action</th>
                </div>
                <div th:unless="${myLinks}">
                    <th scope="col" class="col-1">Action</th>
                </div>
            </div>
        </tr>
        </thead>

        <div class="form-group mb-2" th:each="voucher : ${vouchers}">
            <tbody>
            <td>
                <div>
                    <a th:href="@{/v1/vouchers/anonymous/{voucherId}(voucherId=${voucher.id})}"
                       th:text="${voucher.title}" target="_blank"></a>
                </div>
            </td>
            <td>
                <div th:text="${voucher.tourType}"></div>
            </td>
            <td>
                <div th:text="${voucher.transferType}"></div>
            </td>
            <td>
                <div th:text="${voucher.hotelType}"></div>
            </td>
            <td>
                <div th:text="${voucher.arrivalDate}"></div>
            </td>
            <td>
                <div th:text="${voucher.evictionDate}"></div>
            </td>
            <td>
                <div th:text="${voucher.price}"></div>
            </td>
            <td>
                <div th:if="${voucher.isHot}">
                    <span><img src="/images/hot.jpg" alt="hot" width="40" height="30"/></span>
                </div>
            </td>
            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                <td>
                    <div th:text="${voucher.status}"></div>
                </td>
                <td>
                    <div>
                        <a th:if="${voucher.userId} != null"
                           th:href="@{/v1/users/auth-user/id/{userId}(userId=${voucher.userId})}"
                           th:text="${voucher.username}" target="_blank"></a>
                    </div>
                </td>
                <td>
                    <div th:replace="~{fragments/voucher-action-button.html :: action-button}"></div>
                </td>
            </div>

            <div sec:authorize="hasAuthority('ROLE_USER')">
                <div th:if="${myLinks}">
                    <td>
                        <div th:text="${voucher.status}"></div>
                    </td>
                    <td>
                        <div th:replace="~{fragments/voucher-action-button.html :: action-button}"></div>
                    </td>
                </div>

                <div th:unless="${myLinks}">
                    <td>
                        <form th:action="@{/v1/vouchers/auth-user/{voucherId}/{userId}
                        (voucherId=${voucher.id}, userId=${authUser.id})}"
                              method="post" class="form-inline">
                            <button type="submit" class="btn btn-outline-dark btn-sm">Order</button>
                        </form>
                    </td>
                </div>
            </div>
            </tbody>
        </div>
    </table>
</div>
</body>
</html>