<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Action button</title>
</head>
<body>
<div th:fragment="action-button">
    <button aria-expanded="false"
            class="form-control"
            data-bs-toggle="dropdown" sec:authorize="hasAuthority('ROLE_USER')" th:if="${voucher.status} == 'REGISTERED'"
            th:text="#{voucher.action.button.choose}" type="button">
        Choose action
    </button>

    <button aria-expanded="false"
            class="form-control"
            data-bs-toggle="dropdown" sec:authorize="hasAuthority('ROLE_MANAGER')" th:if="${voucher.status} == 'REGISTERED' or ${voucher.status} == 'AVAILABLE'"
            th:text="#{voucher.action.button.choose}" type="button">
        Choose action
    </button>

    <button aria-expanded="false" class="form-control"
            data-bs-toggle="dropdown" sec:authorize="hasAuthority('ROLE_ADMIN')" th:if="${voucher.status} != 'PAID'"
            th:text="#{voucher.action.button.choose}" type="button">
        Choose action
    </button>


    <ul class="dropdown-menu">
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <li th:if="${authUser.balance} - ${voucher.price} >= 0">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-user/{voucherId}/pay-confirmation
                   (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.pay-by-balance}">
                    Pay with balance</a>
            </li>
            <li th:unless="${authUser.balance} - ${voucher.price} >= 0">
                <a class="dropdown-item"
                   th:href="@{/v1/users/auth-user/balance/{userId}
                   (userId=${authUser.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.top-up-balance}">
                    Top up balance</a>
            </li>
            <li>
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-user/{voucherId}/cancelOrder
                   (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.cancel-order}">Cancel order</a>
            </li>
        </div>


        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
            <li th:if="${!voucher.isHot} and ${voucher.status} == 'AVAILABLE'">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-manager/{voucherId}?newHotStatus=true
               (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.make-hot}">
                    Make hot</a>
            </li>
            <li th:if="${voucher.isHot} and ${voucher.status} == 'AVAILABLE'">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-manager/{voucherId}?newHotStatus=false
               (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.cancel-hot}">
                    Cancel "hot" status</a>
            </li>
            <li th:if="${voucher.status} == 'REGISTERED'">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-manager/{voucherId}/status?newStatus=PAID
               (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.set-paid}">
                    Set status "PAID"</a>
            </li>
            <li th:if="${voucher.status} == 'REGISTERED'">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-manager/{voucherId}/status?newStatus=CANCELED
               (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.set-canceled}">
                    Set status "CANCELED"</a>
            </li>
        </div>


        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <li th:if="${voucher.status} != 'REGISTERED' and ${voucher.status} != 'PAID'">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-admin/{voucherId}/update
                   (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.update}">Update</a>
            </li>
            <li th:if="${voucher.status} != 'REGISTERED' and ${voucher.status} != 'PAID'">
                <a class="dropdown-item"
                   th:href="@{/v1/vouchers/auth-admin/{voucherId}/delete
                   (voucherId=${voucher.id}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{voucher.action.button.delete}">Delete</a>
            </li>
        </div>
    </ul>
</div>
</body>
</html>