<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Voucher dashboard</title>
</head>
<body>
<div th:fragment="voucher-dashboard(myLinks)">

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-2" scope="col" th:text="#{voucher.dashboard.title}">Title</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.tour-type}">Tour type</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.transfer-type}">Transfer type</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.hotel-type}">Hotel type</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.arrival-date}">Arrival date</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.eviction-date}">Eviction date</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.price}">Price</th>
            <th class="col-1" scope="col" th:text="#{voucher.dashboard.is-hot}">Is hot</th>
            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                <th class="col-1" scope="col" th:text="#{voucher.dashboard.status}">Status</th>
                <th class="col-1" scope="col" th:text="#{voucher.dashboard.user}">User</th>
                <th class="col-1" scope="col" th:text="#{voucher.dashboard.action}">Action</th>
            </div>
            <div sec:authorize="hasAuthority('ROLE_USER')">
                <div th:if="${myLinks}">
                    <th class="col-1" scope="col" th:text="#{voucher.dashboard.status}">Status</th>
                    <th class="col-1" scope="col" th:text="#{voucher.dashboard.action}">Action</th>
                </div>
                <div th:unless="${myLinks}">
                    <th class="col-1" scope="col" th:text="#{voucher.dashboard.action}">Action</th>
                </div>
            </div>
        </tr>
        </thead>

        <div class="form-group mb-2" th:each="voucher : ${vouchers}">
            <tbody>
            <td>
                <div>
                    <a target="_blank"
                       th:href="@{/v1/vouchers/anonymous/{voucherId}(voucherId=${voucher.id})}" th:text="${voucher.title}"></a>
                </div>
            </td>
            <td>
                <div th:text="${voucher.tourType}"></div>
            </td>
            <td>
                <div th:text="${voucher.transferType}"></div>
            </td>
            <td>
                <div th:text="${voucher.hotelType}"></div>
            </td>
            <td>
                <div th:text="${voucher.arrivalDate}"></div>
            </td>
            <td>
                <div th:text="${voucher.evictionDate}"></div>
            </td>
            <td>
                <div th:text="${voucher.price}"></div>
            </td>
            <td>
                <div th:if="${voucher.isHot}">
                    <span><img alt="hot" height="30" src="/images/hot.jpg" width="40"/></span>
                </div>
            </td>
            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                <td>
                    <div th:text="${voucher.status}"></div>
                </td>
                <td>
                    <div>
                        <a target="_blank"
                           th:href="@{/v1/users/auth-user/id/{userId}(userId=${voucher.userId})}"
                           th:if="${voucher.userId} != null" th:text="${voucher.username}"></a>
                    </div>
                </td>
                <td>
                    <div th:replace="~{fragments/voucher-action-button.html :: action-button}"></div>
                </td>
            </div>

            <div sec:authorize="hasAuthority('ROLE_USER')">
                <div th:if="${myLinks}">
                    <td>
                        <div th:text="${voucher.status}"></div>
                    </td>
                    <td>
                        <div th:replace="~{fragments/voucher-action-button.html :: action-button}"></div>
                    </td>
                </div>

                <div th:unless="${myLinks}">
                    <td>
                        <form class="form-inline"
                              method="post" th:action="@{/v1/vouchers/auth-user/{voucherId}/{userId}
                        (voucherId=${voucher.id}, userId=${authUser.id})}">
                            <button class="btn btn-outline-dark btn-sm" th:text="#{voucher.dashboard.order}"
                                    type="submit">Order
                            </button>
                        </form>
                    </td>
                </div>
            </div>
            </tbody>
        </div>
    </table>
</div>
</body>
</html>