<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>User info</title>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/language-switch.js" type="text/javascript"></script>
</head>

<body>
<header th:replace="~{fragments/header.html :: header}"></header>

<main sec:authorize="isAuthenticated()">
    <div class="container col-10 mt-4">
        <div class="row g-3" style="height: 100px;"></div>

        <h1 align="center" th:text="#{user.info.title}">User information</h1>
        <br>

        <input name="requestURI" th:value="${requestURI}" type="hidden">
        <input name="queryString" th:value="${queryString}" type="hidden">

        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <strong th:text="#{user.info.username}">Username: </strong>
            </div>
            <div class="col-md-2">
                <span th:text="${userDto.username}"></span>
            </div>

        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <strong th:text="#{user.info.phone}">Phone number: </strong>
            </div>
            <div class="col-md-2">
                <span th:text="${userDto.phoneNumber}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <strong th:text="#{user.info.email}">Email: </strong>
            </div>
            <div class="col-md-2">
                <span th:text="${userDto.email}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <strong th:text="#{user.info.balance}">Balance: </strong>
            </div>
            <div class="col-md-2">
                <span th:text="${userDto.balance}"></span>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-center" th:if="${#strings.equals(userDto.id, authUser.id)}">
            <div class="col-md-2">
                <a class="btn btn-success btn-lg" th:href="@{/v1/users/auth-user/update/{userId}(userId=${userId})}"
                   th:text="#{user.info.button-update}">
                    Update user</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success btn-lg"
                   th:href="@{/v1/users/auth-user/change-password}" th:text="#{user.info.button-password}"> Change
                    password</a>
            </div>
            <div class="col-md-2" sec:authorize="hasAuthority('ROLE_USER')">
                <a class="btn btn-success btn-lg"
                   th:href="@{/v1/users/auth-user/balance/{userId}
            (userId=${userId}, requestURI=${requestURI}, queryString=${queryString})}"
                   th:text="#{user.info.button-balance}"> Top up balance</a>
            </div>
        </div>

        <div class="row justify-content-md-center"
             sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')"
             th:unless="${#strings.equals(userDto.id, authUser.id)}">
            <div class="col-md-2">
                <a class="btn btn-success btn-lg"
                   th:href="@{/v1/vouchers/auth-manager/user/{userId}(userId=${userId})}"
                   th:text="#{user.action.button.vouchers}">
                    User's vouchers</a>
            </div>
        </div>
        <br>
    </div>
</main>

</body>
</html>